@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mazzard-MRegular';
  src: url('./assets/fonts/Mazzard-Font/MazzardM-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mazzard-MMedium';
  src: url('./assets/fonts/Mazzard-Font/MazzardM-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mazzard-MSemiBold';
  src: url('./assets/fonts/Mazzard-Font/MazzardM-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mazzard-MLight';
  src: url('./assets/fonts/Mazzard-Font/MazzardM-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mazzard-HMedium';
  src: url('./assets/fonts/Mazzard-Font/MazzardH-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Estilos globales adicionales */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}