# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.env

# Django stuff
*.log
*.pot
db.sqlite3
media/
staticfiles/

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py

# =========================
# Node / React (frontend)
# =========================
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/*.local

# Tailwind / PostCSS / temporary files
frontend/*.css.map

# =========================
# Project-specific folders
# =========================
Melody_Unmix/tmp/
Modelo_IA/__pycache__/
Procesamiento_Señales/__pycache__/

# Model files / training artifacts
*.h5
*.pth
*.pt
*.ckpt
*.onnx
*.npz

# Database backups
*.sql
*.dump

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Logs

*.log

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local
